* {
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    font-family: Inter, sans-serif;
}

hr {
    border: 1px solid #161616;
}

button {
    border: none;
}

.container {
    margin: 0 auto;
    max-width: 856px;
}

.nav__list {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    gap: 72px;
    max-width: 635px;
}

.nav__list-item, a, ul {
    text-decoration: none;
    list-style-type: none;
    color: #000;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.nav__list-item:hover a {
    color: #00BDC9;
    transition: color .35s;

}

.header__intro {
    display: flex;
    align-items: center;
    background-color: #00BDC9;
    height: 552px;
}

.header__intro-img {
    display: block;
    background-color: #00BDC9;
}

.content {
    padding: 5.5rem 0;
}

.content__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 40px 0;
    gap: 24px;
}

.content__heading {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
    font-style: normal;
}

.content__paragraph {
    color: #161616;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


.button:hover {
    background-color: #078087;
    transition: background-color .35s;
}


.button {
    background-color: #04959E;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px auto;
    padding: 10px 24px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;

    cursor: pointer;
}

.content__list {
    list-style-position: inside;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #161616;
}

.footer {
    text-align: center;
    margin: 16px 0;
    color: #161616;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.content__text-colored {
    color: #04959E;
}


